@charset "utf-8";

@import "variables";

@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin ellipsis($width: 100%) {
	display: block;
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin multi-ellipsis($row) {
	display: -webkit-box;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal;
	-webkit-line-clamp: $row;
	-webkit-box-orient: vertical;
}

@mixin breakword() {
	word-wrap: break-word;
	word-break: break-all;
}

// only Desktop
@mixin desktop-media {
	@media #{$desktop-width} {
		@content;
	}
}

@mixin not-desktop-media {
	@media #{$not-desktop-width} {
		@content;
	}
}

// only Tablet
@mixin tablet-media {
	@media #{$tablet-width} {
		@content;
	}
}

// only Mobile
@mixin mobile-media {
	@media #{$mobile-width} {
		@content;
	}
}
