// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-account-name: 'sp-account';
$sp-account-x: 38px;
$sp-account-y: 97px;
$sp-account-offset-x: -38px;
$sp-account-offset-y: -97px;
$sp-account-width: 15px;
$sp-account-height: 15px;
$sp-account-total-width: 134px;
$sp-account-total-height: 112px;
$sp-account-image: '../img/sprites/sprite.png';
$sp-account: (38px, 97px, -38px, -97px, 15px, 15px, 134px, 112px, '../img/sprites/sprite.png', 'sp-account', );
$sp-cart-name: 'sp-cart';
$sp-cart-x: 0px;
$sp-cart-y: 97px;
$sp-cart-offset-x: 0px;
$sp-cart-offset-y: -97px;
$sp-cart-width: 15px;
$sp-cart-height: 15px;
$sp-cart-total-width: 134px;
$sp-cart-total-height: 112px;
$sp-cart-image: '../img/sprites/sprite.png';
$sp-cart: (0px, 97px, 0px, -97px, 15px, 15px, 134px, 112px, '../img/sprites/sprite.png', 'sp-cart', );
$sp-cunit-keep-name: 'sp-cunit_keep';
$sp-cunit-keep-x: 104px;
$sp-cunit-keep-y: 71px;
$sp-cunit-keep-offset-x: -104px;
$sp-cunit-keep-offset-y: -71px;
$sp-cunit-keep-width: 18px;
$sp-cunit-keep-height: 17px;
$sp-cunit-keep-total-width: 134px;
$sp-cunit-keep-total-height: 112px;
$sp-cunit-keep-image: '../img/sprites/sprite.png';
$sp-cunit-keep: (104px, 71px, -104px, -71px, 18px, 17px, 134px, 112px, '../img/sprites/sprite.png', 'sp-cunit_keep', );
$sp-cunit-keep-on-name: 'sp-cunit_keep_on';
$sp-cunit-keep-on-x: 116px;
$sp-cunit-keep-on-y: 39px;
$sp-cunit-keep-on-offset-x: -116px;
$sp-cunit-keep-on-offset-y: -39px;
$sp-cunit-keep-on-width: 18px;
$sp-cunit-keep-on-height: 17px;
$sp-cunit-keep-on-total-width: 134px;
$sp-cunit-keep-on-total-height: 112px;
$sp-cunit-keep-on-image: '../img/sprites/sprite.png';
$sp-cunit-keep-on: (116px, 39px, -116px, -39px, 18px, 17px, 134px, 112px, '../img/sprites/sprite.png', 'sp-cunit_keep_on', );
$sp-keep-name: 'sp-keep';
$sp-keep-x: 19px;
$sp-keep-y: 97px;
$sp-keep-offset-x: -19px;
$sp-keep-offset-y: -97px;
$sp-keep-width: 15px;
$sp-keep-height: 15px;
$sp-keep-total-width: 134px;
$sp-keep-total-height: 112px;
$sp-keep-image: '../img/sprites/sprite.png';
$sp-keep: (19px, 97px, -19px, -97px, 15px, 15px, 134px, 112px, '../img/sprites/sprite.png', 'sp-keep', );
$sp-logo-name: 'sp-logo';
$sp-logo-x: 0px;
$sp-logo-y: 0px;
$sp-logo-offset-x: 0px;
$sp-logo-offset-y: 0px;
$sp-logo-width: 134px;
$sp-logo-height: 35px;
$sp-logo-total-width: 134px;
$sp-logo-total-height: 112px;
$sp-logo-image: '../img/sprites/sprite.png';
$sp-logo: (0px, 0px, 0px, 0px, 134px, 35px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo', );
$sp-logo-apple-name: 'sp-logo_apple';
$sp-logo-apple-x: 26px;
$sp-logo-apple-y: 71px;
$sp-logo-apple-offset-x: -26px;
$sp-logo-apple-offset-y: -71px;
$sp-logo-apple-width: 22px;
$sp-logo-apple-height: 22px;
$sp-logo-apple-total-width: 134px;
$sp-logo-apple-total-height: 112px;
$sp-logo-apple-image: '../img/sprites/sprite.png';
$sp-logo-apple: (26px, 71px, -26px, -71px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_apple', );
$sp-logo-fb-name: 'sp-logo_fb';
$sp-logo-fb-x: 0px;
$sp-logo-fb-y: 71px;
$sp-logo-fb-offset-x: 0px;
$sp-logo-fb-offset-y: -71px;
$sp-logo-fb-width: 22px;
$sp-logo-fb-height: 22px;
$sp-logo-fb-total-width: 134px;
$sp-logo-fb-total-height: 112px;
$sp-logo-fb-image: '../img/sprites/sprite.png';
$sp-logo-fb: (0px, 71px, 0px, -71px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_fb', );
$sp-logo-google-name: 'sp-logo_google';
$sp-logo-google-x: 78px;
$sp-logo-google-y: 71px;
$sp-logo-google-offset-x: -78px;
$sp-logo-google-offset-y: -71px;
$sp-logo-google-width: 22px;
$sp-logo-google-height: 22px;
$sp-logo-google-total-width: 134px;
$sp-logo-google-total-height: 112px;
$sp-logo-google-image: '../img/sprites/sprite.png';
$sp-logo-google: (78px, 71px, -78px, -71px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_google', );
$sp-logo-kakao-name: 'sp-logo_kakao';
$sp-logo-kakao-x: 52px;
$sp-logo-kakao-y: 71px;
$sp-logo-kakao-offset-x: -52px;
$sp-logo-kakao-offset-y: -71px;
$sp-logo-kakao-width: 22px;
$sp-logo-kakao-height: 22px;
$sp-logo-kakao-total-width: 134px;
$sp-logo-kakao-total-height: 112px;
$sp-logo-kakao-image: '../img/sprites/sprite.png';
$sp-logo-kakao: (52px, 71px, -52px, -71px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_kakao', );
$sp-logo-mail-name: 'sp-logo_mail';
$sp-logo-mail-x: 90px;
$sp-logo-mail-y: 39px;
$sp-logo-mail-offset-x: -90px;
$sp-logo-mail-offset-y: -39px;
$sp-logo-mail-width: 22px;
$sp-logo-mail-height: 22px;
$sp-logo-mail-total-width: 134px;
$sp-logo-mail-total-height: 112px;
$sp-logo-mail-image: '../img/sprites/sprite.png';
$sp-logo-mail: (90px, 39px, -90px, -39px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_mail', );
$sp-logo-naver-name: 'sp-logo_naver';
$sp-logo-naver-x: 64px;
$sp-logo-naver-y: 39px;
$sp-logo-naver-offset-x: -64px;
$sp-logo-naver-offset-y: -39px;
$sp-logo-naver-width: 22px;
$sp-logo-naver-height: 22px;
$sp-logo-naver-total-width: 134px;
$sp-logo-naver-total-height: 112px;
$sp-logo-naver-image: '../img/sprites/sprite.png';
$sp-logo-naver: (64px, 39px, -64px, -39px, 22px, 22px, 134px, 112px, '../img/sprites/sprite.png', 'sp-logo_naver', );
$sp-sort-img-name: 'sp-sort_img';
$sp-sort-img-x: 32px;
$sp-sort-img-y: 39px;
$sp-sort-img-offset-x: -32px;
$sp-sort-img-offset-y: -39px;
$sp-sort-img-width: 28px;
$sp-sort-img-height: 28px;
$sp-sort-img-total-width: 134px;
$sp-sort-img-total-height: 112px;
$sp-sort-img-image: '../img/sprites/sprite.png';
$sp-sort-img: (32px, 39px, -32px, -39px, 28px, 28px, 134px, 112px, '../img/sprites/sprite.png', 'sp-sort_img', );
$sp-sort-info-name: 'sp-sort_info';
$sp-sort-info-x: 0px;
$sp-sort-info-y: 39px;
$sp-sort-info-offset-x: 0px;
$sp-sort-info-offset-y: -39px;
$sp-sort-info-width: 28px;
$sp-sort-info-height: 28px;
$sp-sort-info-total-width: 134px;
$sp-sort-info-total-height: 112px;
$sp-sort-info-image: '../img/sprites/sprite.png';
$sp-sort-info: (0px, 39px, 0px, -39px, 28px, 28px, 134px, 112px, '../img/sprites/sprite.png', 'sp-sort_info', );
$sp-account-2x-name: 'sp-account@2x';
$sp-account-2x-x: 76px;
$sp-account-2x-y: 194px;
$sp-account-2x-offset-x: -76px;
$sp-account-2x-offset-y: -194px;
$sp-account-2x-width: 30px;
$sp-account-2x-height: 30px;
$sp-account-2x-total-width: 268px;
$sp-account-2x-total-height: 224px;
$sp-account-2x-image: '../img/sprites/sprite@2x.png';
$sp-account-2x: (76px, 194px, -76px, -194px, 30px, 30px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-account@2x', );
$sp-cart-2x-name: 'sp-cart@2x';
$sp-cart-2x-x: 0px;
$sp-cart-2x-y: 194px;
$sp-cart-2x-offset-x: 0px;
$sp-cart-2x-offset-y: -194px;
$sp-cart-2x-width: 30px;
$sp-cart-2x-height: 30px;
$sp-cart-2x-total-width: 268px;
$sp-cart-2x-total-height: 224px;
$sp-cart-2x-image: '../img/sprites/sprite@2x.png';
$sp-cart-2x: (0px, 194px, 0px, -194px, 30px, 30px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-cart@2x', );
$sp-cunit-keep-2x-name: 'sp-cunit_keep@2x';
$sp-cunit-keep-2x-x: 208px;
$sp-cunit-keep-2x-y: 142px;
$sp-cunit-keep-2x-offset-x: -208px;
$sp-cunit-keep-2x-offset-y: -142px;
$sp-cunit-keep-2x-width: 36px;
$sp-cunit-keep-2x-height: 34px;
$sp-cunit-keep-2x-total-width: 268px;
$sp-cunit-keep-2x-total-height: 224px;
$sp-cunit-keep-2x-image: '../img/sprites/sprite@2x.png';
$sp-cunit-keep-2x: (208px, 142px, -208px, -142px, 36px, 34px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-cunit_keep@2x', );
$sp-cunit-keep-on-2x-name: 'sp-cunit_keep_on@2x';
$sp-cunit-keep-on-2x-x: 232px;
$sp-cunit-keep-on-2x-y: 78px;
$sp-cunit-keep-on-2x-offset-x: -232px;
$sp-cunit-keep-on-2x-offset-y: -78px;
$sp-cunit-keep-on-2x-width: 36px;
$sp-cunit-keep-on-2x-height: 34px;
$sp-cunit-keep-on-2x-total-width: 268px;
$sp-cunit-keep-on-2x-total-height: 224px;
$sp-cunit-keep-on-2x-image: '../img/sprites/sprite@2x.png';
$sp-cunit-keep-on-2x: (232px, 78px, -232px, -78px, 36px, 34px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-cunit_keep_on@2x', );
$sp-keep-2x-name: 'sp-keep@2x';
$sp-keep-2x-x: 38px;
$sp-keep-2x-y: 194px;
$sp-keep-2x-offset-x: -38px;
$sp-keep-2x-offset-y: -194px;
$sp-keep-2x-width: 30px;
$sp-keep-2x-height: 30px;
$sp-keep-2x-total-width: 268px;
$sp-keep-2x-total-height: 224px;
$sp-keep-2x-image: '../img/sprites/sprite@2x.png';
$sp-keep-2x: (38px, 194px, -38px, -194px, 30px, 30px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-keep@2x', );
$sp-logo-2x-name: 'sp-logo@2x';
$sp-logo-2x-x: 0px;
$sp-logo-2x-y: 0px;
$sp-logo-2x-offset-x: 0px;
$sp-logo-2x-offset-y: 0px;
$sp-logo-2x-width: 268px;
$sp-logo-2x-height: 70px;
$sp-logo-2x-total-width: 268px;
$sp-logo-2x-total-height: 224px;
$sp-logo-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-2x: (0px, 0px, 0px, 0px, 268px, 70px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo@2x', );
$sp-logo-apple-2x-name: 'sp-logo_apple@2x';
$sp-logo-apple-2x-x: 52px;
$sp-logo-apple-2x-y: 142px;
$sp-logo-apple-2x-offset-x: -52px;
$sp-logo-apple-2x-offset-y: -142px;
$sp-logo-apple-2x-width: 44px;
$sp-logo-apple-2x-height: 44px;
$sp-logo-apple-2x-total-width: 268px;
$sp-logo-apple-2x-total-height: 224px;
$sp-logo-apple-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-apple-2x: (52px, 142px, -52px, -142px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_apple@2x', );
$sp-logo-fb-2x-name: 'sp-logo_fb@2x';
$sp-logo-fb-2x-x: 0px;
$sp-logo-fb-2x-y: 142px;
$sp-logo-fb-2x-offset-x: 0px;
$sp-logo-fb-2x-offset-y: -142px;
$sp-logo-fb-2x-width: 44px;
$sp-logo-fb-2x-height: 44px;
$sp-logo-fb-2x-total-width: 268px;
$sp-logo-fb-2x-total-height: 224px;
$sp-logo-fb-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-fb-2x: (0px, 142px, 0px, -142px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_fb@2x', );
$sp-logo-google-2x-name: 'sp-logo_google@2x';
$sp-logo-google-2x-x: 156px;
$sp-logo-google-2x-y: 142px;
$sp-logo-google-2x-offset-x: -156px;
$sp-logo-google-2x-offset-y: -142px;
$sp-logo-google-2x-width: 44px;
$sp-logo-google-2x-height: 44px;
$sp-logo-google-2x-total-width: 268px;
$sp-logo-google-2x-total-height: 224px;
$sp-logo-google-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-google-2x: (156px, 142px, -156px, -142px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_google@2x', );
$sp-logo-kakao-2x-name: 'sp-logo_kakao@2x';
$sp-logo-kakao-2x-x: 104px;
$sp-logo-kakao-2x-y: 142px;
$sp-logo-kakao-2x-offset-x: -104px;
$sp-logo-kakao-2x-offset-y: -142px;
$sp-logo-kakao-2x-width: 44px;
$sp-logo-kakao-2x-height: 44px;
$sp-logo-kakao-2x-total-width: 268px;
$sp-logo-kakao-2x-total-height: 224px;
$sp-logo-kakao-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-kakao-2x: (104px, 142px, -104px, -142px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_kakao@2x', );
$sp-logo-mail-2x-name: 'sp-logo_mail@2x';
$sp-logo-mail-2x-x: 180px;
$sp-logo-mail-2x-y: 78px;
$sp-logo-mail-2x-offset-x: -180px;
$sp-logo-mail-2x-offset-y: -78px;
$sp-logo-mail-2x-width: 44px;
$sp-logo-mail-2x-height: 44px;
$sp-logo-mail-2x-total-width: 268px;
$sp-logo-mail-2x-total-height: 224px;
$sp-logo-mail-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-mail-2x: (180px, 78px, -180px, -78px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_mail@2x', );
$sp-logo-naver-2x-name: 'sp-logo_naver@2x';
$sp-logo-naver-2x-x: 128px;
$sp-logo-naver-2x-y: 78px;
$sp-logo-naver-2x-offset-x: -128px;
$sp-logo-naver-2x-offset-y: -78px;
$sp-logo-naver-2x-width: 44px;
$sp-logo-naver-2x-height: 44px;
$sp-logo-naver-2x-total-width: 268px;
$sp-logo-naver-2x-total-height: 224px;
$sp-logo-naver-2x-image: '../img/sprites/sprite@2x.png';
$sp-logo-naver-2x: (128px, 78px, -128px, -78px, 44px, 44px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-logo_naver@2x', );
$sp-sort-img-2x-name: 'sp-sort_img@2x';
$sp-sort-img-2x-x: 64px;
$sp-sort-img-2x-y: 78px;
$sp-sort-img-2x-offset-x: -64px;
$sp-sort-img-2x-offset-y: -78px;
$sp-sort-img-2x-width: 56px;
$sp-sort-img-2x-height: 56px;
$sp-sort-img-2x-total-width: 268px;
$sp-sort-img-2x-total-height: 224px;
$sp-sort-img-2x-image: '../img/sprites/sprite@2x.png';
$sp-sort-img-2x: (64px, 78px, -64px, -78px, 56px, 56px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-sort_img@2x', );
$sp-sort-info-2x-name: 'sp-sort_info@2x';
$sp-sort-info-2x-x: 0px;
$sp-sort-info-2x-y: 78px;
$sp-sort-info-2x-offset-x: 0px;
$sp-sort-info-2x-offset-y: -78px;
$sp-sort-info-2x-width: 56px;
$sp-sort-info-2x-height: 56px;
$sp-sort-info-2x-total-width: 268px;
$sp-sort-info-2x-total-height: 224px;
$sp-sort-info-2x-image: '../img/sprites/sprite@2x.png';
$sp-sort-info-2x: (0px, 78px, 0px, -78px, 56px, 56px, 268px, 224px, '../img/sprites/sprite@2x.png', 'sp-sort_info@2x', );
$spritesheet-width: 134px;
$spritesheet-height: 112px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($sp-account, $sp-cart, $sp-cunit-keep, $sp-cunit-keep-on, $sp-keep, $sp-logo, $sp-logo-apple, $sp-logo-fb, $sp-logo-google, $sp-logo-kakao, $sp-logo-mail, $sp-logo-naver, $sp-sort-img, $sp-sort-info, );
$spritesheet: (134px, 112px, '../img/sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 268px;
$retina-spritesheet-height: 224px;
$retina-spritesheet-image: '../img/sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-account-2x, $sp-cart-2x, $sp-cunit-keep-2x, $sp-cunit-keep-on-2x, $sp-keep-2x, $sp-logo-2x, $sp-logo-apple-2x, $sp-logo-fb-2x, $sp-logo-google-2x, $sp-logo-kakao-2x, $sp-logo-mail-2x, $sp-logo-naver-2x, $sp-sort-img-2x, $sp-sort-info-2x, );
$retina-spritesheet: (268px, 224px, '../img/sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-account-group-name: 'sp-account';
$sp-account-group: ('sp-account', $sp-account, $sp-account-2x, );
$sp-cart-group-name: 'sp-cart';
$sp-cart-group: ('sp-cart', $sp-cart, $sp-cart-2x, );
$sp-cunit-keep-group-name: 'sp-cunit_keep';
$sp-cunit-keep-group: ('sp-cunit_keep', $sp-cunit-keep, $sp-cunit-keep-2x, );
$sp-cunit-keep-on-group-name: 'sp-cunit_keep_on';
$sp-cunit-keep-on-group: ('sp-cunit_keep_on', $sp-cunit-keep-on, $sp-cunit-keep-on-2x, );
$sp-keep-group-name: 'sp-keep';
$sp-keep-group: ('sp-keep', $sp-keep, $sp-keep-2x, );
$sp-logo-group-name: 'sp-logo';
$sp-logo-group: ('sp-logo', $sp-logo, $sp-logo-2x, );
$sp-logo-apple-group-name: 'sp-logo_apple';
$sp-logo-apple-group: ('sp-logo_apple', $sp-logo-apple, $sp-logo-apple-2x, );
$sp-logo-fb-group-name: 'sp-logo_fb';
$sp-logo-fb-group: ('sp-logo_fb', $sp-logo-fb, $sp-logo-fb-2x, );
$sp-logo-google-group-name: 'sp-logo_google';
$sp-logo-google-group: ('sp-logo_google', $sp-logo-google, $sp-logo-google-2x, );
$sp-logo-kakao-group-name: 'sp-logo_kakao';
$sp-logo-kakao-group: ('sp-logo_kakao', $sp-logo-kakao, $sp-logo-kakao-2x, );
$sp-logo-mail-group-name: 'sp-logo_mail';
$sp-logo-mail-group: ('sp-logo_mail', $sp-logo-mail, $sp-logo-mail-2x, );
$sp-logo-naver-group-name: 'sp-logo_naver';
$sp-logo-naver-group: ('sp-logo_naver', $sp-logo-naver, $sp-logo-naver-2x, );
$sp-sort-img-group-name: 'sp-sort_img';
$sp-sort-img-group: ('sp-sort_img', $sp-sort-img, $sp-sort-img-2x, );
$sp-sort-info-group-name: 'sp-sort_info';
$sp-sort-info-group: ('sp-sort_info', $sp-sort-info, $sp-sort-info-2x, );
$retina-groups: ($sp-account-group, $sp-cart-group, $sp-cunit-keep-group, $sp-cunit-keep-on-group, $sp-keep-group, $sp-logo-group, $sp-logo-apple-group, $sp-logo-fb-group, $sp-logo-google-group, $sp-logo-kakao-group, $sp-logo-mail-group, $sp-logo-naver-group, $sp-sort-img-group, $sp-sort-info-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
