// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-account-name: 'sp-account';
$sp-account-x: 364px;
$sp-account-y: 234px;
$sp-account-offset-x: -364px;
$sp-account-offset-y: -234px;
$sp-account-width: 15px;
$sp-account-height: 15px;
$sp-account-total-width: 432px;
$sp-account-total-height: 392px;
$sp-account-image: '../img/sprites/sprite.png';
$sp-account: (364px, 234px, -364px, -234px, 15px, 15px, 432px, 392px, '../img/sprites/sprite.png', 'sp-account', );
$sp-account-2x-name: 'sp-account@2x';
$sp-account-2x-x: 360px;
$sp-account-2x-y: 264px;
$sp-account-2x-offset-x: -360px;
$sp-account-2x-offset-y: -264px;
$sp-account-2x-width: 30px;
$sp-account-2x-height: 30px;
$sp-account-2x-total-width: 432px;
$sp-account-2x-total-height: 392px;
$sp-account-2x-image: '../img/sprites/sprite.png';
$sp-account-2x: (360px, 264px, -360px, -264px, 30px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-account@2x', );
$sp-cart-name: 'sp-cart';
$sp-cart-x: 383px;
$sp-cart-y: 234px;
$sp-cart-offset-x: -383px;
$sp-cart-offset-y: -234px;
$sp-cart-width: 15px;
$sp-cart-height: 15px;
$sp-cart-total-width: 432px;
$sp-cart-total-height: 392px;
$sp-cart-image: '../img/sprites/sprite.png';
$sp-cart: (383px, 234px, -383px, -234px, 15px, 15px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cart', );
$sp-cart-2x-name: 'sp-cart@2x';
$sp-cart-2x-x: 394px;
$sp-cart-2x-y: 264px;
$sp-cart-2x-offset-x: -394px;
$sp-cart-2x-offset-y: -264px;
$sp-cart-2x-width: 30px;
$sp-cart-2x-height: 30px;
$sp-cart-2x-total-width: 432px;
$sp-cart-2x-total-height: 392px;
$sp-cart-2x-image: '../img/sprites/sprite.png';
$sp-cart-2x: (394px, 264px, -394px, -264px, 30px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cart@2x', );
$sp-cunit-keep-name: 'sp-cunit_keep';
$sp-cunit-keep-x: 268px;
$sp-cunit-keep-y: 358px;
$sp-cunit-keep-offset-x: -268px;
$sp-cunit-keep-offset-y: -358px;
$sp-cunit-keep-width: 18px;
$sp-cunit-keep-height: 17px;
$sp-cunit-keep-total-width: 432px;
$sp-cunit-keep-total-height: 392px;
$sp-cunit-keep-image: '../img/sprites/sprite.png';
$sp-cunit-keep: (268px, 358px, -268px, -358px, 18px, 17px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cunit_keep', );
$sp-cunit-keep-2x-name: 'sp-cunit_keep@2x';
$sp-cunit-keep-2x-x: 372px;
$sp-cunit-keep-2x-y: 298px;
$sp-cunit-keep-2x-offset-x: -372px;
$sp-cunit-keep-2x-offset-y: -298px;
$sp-cunit-keep-2x-width: 36px;
$sp-cunit-keep-2x-height: 34px;
$sp-cunit-keep-2x-total-width: 432px;
$sp-cunit-keep-2x-total-height: 392px;
$sp-cunit-keep-2x-image: '../img/sprites/sprite.png';
$sp-cunit-keep-2x: (372px, 298px, -372px, -298px, 36px, 34px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cunit_keep@2x', );
$sp-cunit-keep-on-name: 'sp-cunit_keep_on';
$sp-cunit-keep-on-x: 290px;
$sp-cunit-keep-on-y: 358px;
$sp-cunit-keep-on-offset-x: -290px;
$sp-cunit-keep-on-offset-y: -358px;
$sp-cunit-keep-on-width: 18px;
$sp-cunit-keep-on-height: 17px;
$sp-cunit-keep-on-total-width: 432px;
$sp-cunit-keep-on-total-height: 392px;
$sp-cunit-keep-on-image: '../img/sprites/sprite.png';
$sp-cunit-keep-on: (290px, 358px, -290px, -358px, 18px, 17px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cunit_keep_on', );
$sp-cunit-keep-on-2x-name: 'sp-cunit_keep_on@2x';
$sp-cunit-keep-on-2x-x: 0px;
$sp-cunit-keep-on-2x-y: 358px;
$sp-cunit-keep-on-2x-offset-x: 0px;
$sp-cunit-keep-on-2x-offset-y: -358px;
$sp-cunit-keep-on-2x-width: 36px;
$sp-cunit-keep-on-2x-height: 34px;
$sp-cunit-keep-on-2x-total-width: 432px;
$sp-cunit-keep-on-2x-total-height: 392px;
$sp-cunit-keep-on-2x-image: '../img/sprites/sprite.png';
$sp-cunit-keep-on-2x: (0px, 358px, 0px, -358px, 36px, 34px, 432px, 392px, '../img/sprites/sprite.png', 'sp-cunit_keep_on@2x', );
$sp-ico-camera-name: 'sp-ico_camera';
$sp-ico-camera-x: 40px;
$sp-ico-camera-y: 358px;
$sp-ico-camera-offset-x: -40px;
$sp-ico-camera-offset-y: -358px;
$sp-ico-camera-width: 30px;
$sp-ico-camera-height: 30px;
$sp-ico-camera-total-width: 432px;
$sp-ico-camera-total-height: 392px;
$sp-ico-camera-image: '../img/sprites/sprite.png';
$sp-ico-camera: (40px, 358px, -40px, -358px, 30px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_camera', );
$sp-ico-camera-2x-name: 'sp-ico_camera@2x';
$sp-ico-camera-2x-x: 164px;
$sp-ico-camera-2x-y: 169px;
$sp-ico-camera-2x-offset-x: -164px;
$sp-ico-camera-2x-offset-y: -169px;
$sp-ico-camera-2x-width: 60px;
$sp-ico-camera-2x-height: 60px;
$sp-ico-camera-2x-total-width: 432px;
$sp-ico-camera-2x-total-height: 392px;
$sp-ico-camera-2x-image: '../img/sprites/sprite.png';
$sp-ico-camera-2x: (164px, 169px, -164px, -169px, 60px, 60px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_camera@2x', );
$sp-ico-friends-name: 'sp-ico_friends';
$sp-ico-friends-x: 272px;
$sp-ico-friends-y: 134px;
$sp-ico-friends-offset-x: -272px;
$sp-ico-friends-offset-y: -134px;
$sp-ico-friends-width: 80px;
$sp-ico-friends-height: 46px;
$sp-ico-friends-total-width: 432px;
$sp-ico-friends-total-height: 392px;
$sp-ico-friends-image: '../img/sprites/sprite.png';
$sp-ico-friends: (272px, 134px, -272px, -134px, 80px, 46px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_friends', );
$sp-ico-friends-2x-name: 'sp-ico_friends@2x';
$sp-ico-friends-2x-x: 0px;
$sp-ico-friends-2x-y: 74px;
$sp-ico-friends-2x-offset-x: 0px;
$sp-ico-friends-2x-offset-y: -74px;
$sp-ico-friends-2x-width: 160px;
$sp-ico-friends-2x-height: 91px;
$sp-ico-friends-2x-total-width: 432px;
$sp-ico-friends-2x-total-height: 392px;
$sp-ico-friends-2x-image: '../img/sprites/sprite.png';
$sp-ico-friends-2x: (0px, 74px, 0px, -74px, 160px, 91px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_friends@2x', );
$sp-ico-friendship-name: 'sp-ico_friendship';
$sp-ico-friendship-x: 412px;
$sp-ico-friendship-y: 298px;
$sp-ico-friendship-offset-x: -412px;
$sp-ico-friendship-offset-y: -298px;
$sp-ico-friendship-width: 16px;
$sp-ico-friendship-height: 20px;
$sp-ico-friendship-total-width: 432px;
$sp-ico-friendship-total-height: 392px;
$sp-ico-friendship-image: '../img/sprites/sprite.png';
$sp-ico-friendship: (412px, 298px, -412px, -298px, 16px, 20px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_friendship', );
$sp-ico-friendship-2x-name: 'sp-ico_friendship@2x';
$sp-ico-friendship-2x-x: 204px;
$sp-ico-friendship-2x-y: 124px;
$sp-ico-friendship-2x-offset-x: -204px;
$sp-ico-friendship-2x-offset-y: -124px;
$sp-ico-friendship-2x-width: 32px;
$sp-ico-friendship-2x-height: 40px;
$sp-ico-friendship-2x-total-width: 432px;
$sp-ico-friendship-2x-total-height: 392px;
$sp-ico-friendship-2x-image: '../img/sprites/sprite.png';
$sp-ico-friendship-2x: (204px, 124px, -204px, -124px, 32px, 40px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_friendship@2x', );
$sp-ico-heart-name: 'sp-ico_heart';
$sp-ico-heart-x: 404px;
$sp-ico-heart-y: 166px;
$sp-ico-heart-offset-x: -404px;
$sp-ico-heart-offset-y: -166px;
$sp-ico-heart-width: 13px;
$sp-ico-heart-height: 12px;
$sp-ico-heart-total-width: 432px;
$sp-ico-heart-total-height: 392px;
$sp-ico-heart-image: '../img/sprites/sprite.png';
$sp-ico-heart: (404px, 166px, -404px, -166px, 13px, 12px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_heart', );
$sp-ico-heart-2x-name: 'sp-ico_heart@2x';
$sp-ico-heart-2x-x: 108px;
$sp-ico-heart-2x-y: 358px;
$sp-ico-heart-2x-offset-x: -108px;
$sp-ico-heart-2x-offset-y: -358px;
$sp-ico-heart-2x-width: 26px;
$sp-ico-heart-2x-height: 24px;
$sp-ico-heart-2x-total-width: 432px;
$sp-ico-heart-2x-total-height: 392px;
$sp-ico-heart-2x-image: '../img/sprites/sprite.png';
$sp-ico-heart-2x: (108px, 358px, -108px, -358px, 26px, 24px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_heart@2x', );
$sp-ico-point-name: 'sp-ico_point';
$sp-ico-point-x: 248px;
$sp-ico-point-y: 100px;
$sp-ico-point-offset-x: -248px;
$sp-ico-point-offset-y: -100px;
$sp-ico-point-width: 18px;
$sp-ico-point-height: 20px;
$sp-ico-point-total-width: 432px;
$sp-ico-point-total-height: 392px;
$sp-ico-point-image: '../img/sprites/sprite.png';
$sp-ico-point: (248px, 100px, -248px, -100px, 18px, 20px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_point', );
$sp-ico-point-2x-name: 'sp-ico_point@2x';
$sp-ico-point-2x-x: 164px;
$sp-ico-point-2x-y: 124px;
$sp-ico-point-2x-offset-x: -164px;
$sp-ico-point-2x-offset-y: -124px;
$sp-ico-point-2x-width: 36px;
$sp-ico-point-2x-height: 40px;
$sp-ico-point-2x-total-width: 432px;
$sp-ico-point-2x-total-height: 392px;
$sp-ico-point-2x-image: '../img/sprites/sprite.png';
$sp-ico-point-2x: (164px, 124px, -164px, -124px, 36px, 40px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_point@2x', );
$sp-ico-post-name: 'sp-ico_post';
$sp-ico-post-x: 404px;
$sp-ico-post-y: 134px;
$sp-ico-post-offset-x: -404px;
$sp-ico-post-offset-y: -134px;
$sp-ico-post-width: 28px;
$sp-ico-post-height: 28px;
$sp-ico-post-total-width: 432px;
$sp-ico-post-total-height: 392px;
$sp-ico-post-image: '../img/sprites/sprite.png';
$sp-ico-post: (404px, 134px, -404px, -134px, 28px, 28px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_post', );
$sp-ico-post-2x-name: 'sp-ico_post@2x';
$sp-ico-post-2x-x: 0px;
$sp-ico-post-2x-y: 298px;
$sp-ico-post-2x-offset-x: 0px;
$sp-ico-post-2x-offset-y: -298px;
$sp-ico-post-2x-width: 56px;
$sp-ico-post-2x-height: 56px;
$sp-ico-post-2x-total-width: 432px;
$sp-ico-post-2x-total-height: 392px;
$sp-ico-post-2x-image: '../img/sprites/sprite.png';
$sp-ico-post-2x: (0px, 298px, 0px, -298px, 56px, 56px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_post@2x', );
$sp-ico-purchase-name: 'sp-ico_purchase';
$sp-ico-purchase-x: 272px;
$sp-ico-purchase-y: 184px;
$sp-ico-purchase-offset-x: -272px;
$sp-ico-purchase-offset-y: -184px;
$sp-ico-purchase-width: 80px;
$sp-ico-purchase-height: 46px;
$sp-ico-purchase-total-width: 432px;
$sp-ico-purchase-total-height: 392px;
$sp-ico-purchase-image: '../img/sprites/sprite.png';
$sp-ico-purchase: (272px, 184px, -272px, -184px, 80px, 46px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_purchase', );
$sp-ico-purchase-2x-name: 'sp-ico_purchase@2x';
$sp-ico-purchase-2x-x: 0px;
$sp-ico-purchase-2x-y: 169px;
$sp-ico-purchase-2x-offset-x: 0px;
$sp-ico-purchase-2x-offset-y: -169px;
$sp-ico-purchase-2x-width: 160px;
$sp-ico-purchase-2x-height: 91px;
$sp-ico-purchase-2x-total-width: 432px;
$sp-ico-purchase-2x-total-height: 392px;
$sp-ico-purchase-2x-image: '../img/sprites/sprite.png';
$sp-ico-purchase-2x: (0px, 169px, 0px, -169px, 160px, 91px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_purchase@2x', );
$sp-ico-sale-name: 'sp-ico_sale';
$sp-ico-sale-x: 164px;
$sp-ico-sale-y: 74px;
$sp-ico-sale-offset-x: -164px;
$sp-ico-sale-offset-y: -74px;
$sp-ico-sale-width: 80px;
$sp-ico-sale-height: 46px;
$sp-ico-sale-total-width: 432px;
$sp-ico-sale-total-height: 392px;
$sp-ico-sale-image: '../img/sprites/sprite.png';
$sp-ico-sale: (164px, 74px, -164px, -74px, 80px, 46px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_sale', );
$sp-ico-sale-2x-name: 'sp-ico_sale@2x';
$sp-ico-sale-2x-x: 272px;
$sp-ico-sale-2x-y: 0px;
$sp-ico-sale-2x-offset-x: -272px;
$sp-ico-sale-2x-offset-y: 0px;
$sp-ico-sale-2x-width: 160px;
$sp-ico-sale-2x-height: 91px;
$sp-ico-sale-2x-total-width: 432px;
$sp-ico-sale-2x-total-height: 392px;
$sp-ico-sale-2x-image: '../img/sprites/sprite.png';
$sp-ico-sale-2x: (272px, 0px, -272px, 0px, 160px, 91px, 432px, 392px, '../img/sprites/sprite.png', 'sp-ico_sale@2x', );
$sp-keep-name: 'sp-keep';
$sp-keep-x: 402px;
$sp-keep-y: 234px;
$sp-keep-offset-x: -402px;
$sp-keep-offset-y: -234px;
$sp-keep-width: 15px;
$sp-keep-height: 15px;
$sp-keep-total-width: 432px;
$sp-keep-total-height: 392px;
$sp-keep-image: '../img/sprites/sprite.png';
$sp-keep: (402px, 234px, -402px, -234px, 15px, 15px, 432px, 392px, '../img/sprites/sprite.png', 'sp-keep', );
$sp-keep2-name: 'sp-keep2';
$sp-keep2-x: 248px;
$sp-keep2-y: 74px;
$sp-keep2-offset-x: -248px;
$sp-keep2-offset-y: -74px;
$sp-keep2-width: 20px;
$sp-keep2-height: 22px;
$sp-keep2-total-width: 432px;
$sp-keep2-total-height: 392px;
$sp-keep2-image: '../img/sprites/sprite.png';
$sp-keep2: (248px, 74px, -248px, -74px, 20px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-keep2', );
$sp-keep2-2x-name: 'sp-keep2@2x';
$sp-keep2-2x-x: 228px;
$sp-keep2-2x-y: 169px;
$sp-keep2-2x-offset-x: -228px;
$sp-keep2-2x-offset-y: -169px;
$sp-keep2-2x-width: 38px;
$sp-keep2-2x-height: 43px;
$sp-keep2-2x-total-width: 432px;
$sp-keep2-2x-total-height: 392px;
$sp-keep2-2x-image: '../img/sprites/sprite.png';
$sp-keep2-2x: (228px, 169px, -228px, -169px, 38px, 43px, 432px, 392px, '../img/sprites/sprite.png', 'sp-keep2@2x', );
$sp-keep-2x-name: 'sp-keep@2x';
$sp-keep-2x-x: 74px;
$sp-keep-2x-y: 358px;
$sp-keep-2x-offset-x: -74px;
$sp-keep-2x-offset-y: -358px;
$sp-keep-2x-width: 30px;
$sp-keep-2x-height: 30px;
$sp-keep-2x-total-width: 432px;
$sp-keep-2x-total-height: 392px;
$sp-keep-2x-image: '../img/sprites/sprite.png';
$sp-keep-2x: (74px, 358px, -74px, -358px, 30px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-keep@2x', );
$sp-logo-name: 'sp-logo';
$sp-logo-x: 272px;
$sp-logo-y: 95px;
$sp-logo-offset-x: -272px;
$sp-logo-offset-y: -95px;
$sp-logo-width: 134px;
$sp-logo-height: 35px;
$sp-logo-total-width: 432px;
$sp-logo-total-height: 392px;
$sp-logo-image: '../img/sprites/sprite.png';
$sp-logo: (272px, 95px, -272px, -95px, 134px, 35px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo', );
$sp-logo-2x-name: 'sp-logo@2x';
$sp-logo-2x-x: 0px;
$sp-logo-2x-y: 0px;
$sp-logo-2x-offset-x: 0px;
$sp-logo-2x-offset-y: 0px;
$sp-logo-2x-width: 268px;
$sp-logo-2x-height: 70px;
$sp-logo-2x-total-width: 432px;
$sp-logo-2x-total-height: 392px;
$sp-logo-2x-image: '../img/sprites/sprite.png';
$sp-logo-2x: (0px, 0px, 0px, 0px, 268px, 70px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo@2x', );
$sp-logo-apple-name: 'sp-logo_apple';
$sp-logo-apple-x: 410px;
$sp-logo-apple-y: 95px;
$sp-logo-apple-offset-x: -410px;
$sp-logo-apple-offset-y: -95px;
$sp-logo-apple-width: 22px;
$sp-logo-apple-height: 22px;
$sp-logo-apple-total-width: 432px;
$sp-logo-apple-total-height: 392px;
$sp-logo-apple-image: '../img/sprites/sprite.png';
$sp-logo-apple: (410px, 95px, -410px, -95px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_apple', );
$sp-logo-apple-2x-name: 'sp-logo_apple@2x';
$sp-logo-apple-2x-x: 356px;
$sp-logo-apple-2x-y: 134px;
$sp-logo-apple-2x-offset-x: -356px;
$sp-logo-apple-2x-offset-y: -134px;
$sp-logo-apple-2x-width: 44px;
$sp-logo-apple-2x-height: 44px;
$sp-logo-apple-2x-total-width: 432px;
$sp-logo-apple-2x-total-height: 392px;
$sp-logo-apple-2x-image: '../img/sprites/sprite.png';
$sp-logo-apple-2x: (356px, 134px, -356px, -134px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_apple@2x', );
$sp-logo-fb-name: 'sp-logo_fb';
$sp-logo-fb-x: 138px;
$sp-logo-fb-y: 358px;
$sp-logo-fb-offset-x: -138px;
$sp-logo-fb-offset-y: -358px;
$sp-logo-fb-width: 22px;
$sp-logo-fb-height: 22px;
$sp-logo-fb-total-width: 432px;
$sp-logo-fb-total-height: 392px;
$sp-logo-fb-image: '../img/sprites/sprite.png';
$sp-logo-fb: (138px, 358px, -138px, -358px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_fb', );
$sp-logo-fb-2x-name: 'sp-logo_fb@2x';
$sp-logo-fb-2x-x: 356px;
$sp-logo-fb-2x-y: 184px;
$sp-logo-fb-2x-offset-x: -356px;
$sp-logo-fb-2x-offset-y: -184px;
$sp-logo-fb-2x-width: 44px;
$sp-logo-fb-2x-height: 44px;
$sp-logo-fb-2x-total-width: 432px;
$sp-logo-fb-2x-total-height: 392px;
$sp-logo-fb-2x-image: '../img/sprites/sprite.png';
$sp-logo-fb-2x: (356px, 184px, -356px, -184px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_fb@2x', );
$sp-logo-google-name: 'sp-logo_google';
$sp-logo-google-x: 164px;
$sp-logo-google-y: 358px;
$sp-logo-google-offset-x: -164px;
$sp-logo-google-offset-y: -358px;
$sp-logo-google-width: 22px;
$sp-logo-google-height: 22px;
$sp-logo-google-total-width: 432px;
$sp-logo-google-total-height: 392px;
$sp-logo-google-image: '../img/sprites/sprite.png';
$sp-logo-google: (164px, 358px, -164px, -358px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_google', );
$sp-logo-google-2x-name: 'sp-logo_google@2x';
$sp-logo-google-2x-x: 180px;
$sp-logo-google-2x-y: 298px;
$sp-logo-google-2x-offset-x: -180px;
$sp-logo-google-2x-offset-y: -298px;
$sp-logo-google-2x-width: 44px;
$sp-logo-google-2x-height: 44px;
$sp-logo-google-2x-total-width: 432px;
$sp-logo-google-2x-total-height: 392px;
$sp-logo-google-2x-image: '../img/sprites/sprite.png';
$sp-logo-google-2x: (180px, 298px, -180px, -298px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_google@2x', );
$sp-logo-kakao-name: 'sp-logo_kakao';
$sp-logo-kakao-x: 190px;
$sp-logo-kakao-y: 358px;
$sp-logo-kakao-offset-x: -190px;
$sp-logo-kakao-offset-y: -358px;
$sp-logo-kakao-width: 22px;
$sp-logo-kakao-height: 22px;
$sp-logo-kakao-total-width: 432px;
$sp-logo-kakao-total-height: 392px;
$sp-logo-kakao-image: '../img/sprites/sprite.png';
$sp-logo-kakao: (190px, 358px, -190px, -358px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_kakao', );
$sp-logo-kakao-2x-name: 'sp-logo_kakao@2x';
$sp-logo-kakao-2x-x: 228px;
$sp-logo-kakao-2x-y: 298px;
$sp-logo-kakao-2x-offset-x: -228px;
$sp-logo-kakao-2x-offset-y: -298px;
$sp-logo-kakao-2x-width: 44px;
$sp-logo-kakao-2x-height: 44px;
$sp-logo-kakao-2x-total-width: 432px;
$sp-logo-kakao-2x-total-height: 392px;
$sp-logo-kakao-2x-image: '../img/sprites/sprite.png';
$sp-logo-kakao-2x: (228px, 298px, -228px, -298px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_kakao@2x', );
$sp-logo-mail-name: 'sp-logo_mail';
$sp-logo-mail-x: 216px;
$sp-logo-mail-y: 358px;
$sp-logo-mail-offset-x: -216px;
$sp-logo-mail-offset-y: -358px;
$sp-logo-mail-width: 22px;
$sp-logo-mail-height: 22px;
$sp-logo-mail-total-width: 432px;
$sp-logo-mail-total-height: 392px;
$sp-logo-mail-image: '../img/sprites/sprite.png';
$sp-logo-mail: (216px, 358px, -216px, -358px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_mail', );
$sp-logo-mail-2x-name: 'sp-logo_mail@2x';
$sp-logo-mail-2x-x: 276px;
$sp-logo-mail-2x-y: 298px;
$sp-logo-mail-2x-offset-x: -276px;
$sp-logo-mail-2x-offset-y: -298px;
$sp-logo-mail-2x-width: 44px;
$sp-logo-mail-2x-height: 44px;
$sp-logo-mail-2x-total-width: 432px;
$sp-logo-mail-2x-total-height: 392px;
$sp-logo-mail-2x-image: '../img/sprites/sprite.png';
$sp-logo-mail-2x: (276px, 298px, -276px, -298px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_mail@2x', );
$sp-logo-naver-name: 'sp-logo_naver';
$sp-logo-naver-x: 242px;
$sp-logo-naver-y: 358px;
$sp-logo-naver-offset-x: -242px;
$sp-logo-naver-offset-y: -358px;
$sp-logo-naver-width: 22px;
$sp-logo-naver-height: 22px;
$sp-logo-naver-total-width: 432px;
$sp-logo-naver-total-height: 392px;
$sp-logo-naver-image: '../img/sprites/sprite.png';
$sp-logo-naver: (242px, 358px, -242px, -358px, 22px, 22px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_naver', );
$sp-logo-naver-2x-name: 'sp-logo_naver@2x';
$sp-logo-naver-2x-x: 324px;
$sp-logo-naver-2x-y: 298px;
$sp-logo-naver-2x-offset-x: -324px;
$sp-logo-naver-2x-offset-y: -298px;
$sp-logo-naver-2x-width: 44px;
$sp-logo-naver-2x-height: 44px;
$sp-logo-naver-2x-total-width: 432px;
$sp-logo-naver-2x-total-height: 392px;
$sp-logo-naver-2x-image: '../img/sprites/sprite.png';
$sp-logo-naver-2x: (324px, 298px, -324px, -298px, 44px, 44px, 432px, 392px, '../img/sprites/sprite.png', 'sp-logo_naver@2x', );
$sp-sort-img-name: 'sp-sort_img';
$sp-sort-img-x: 404px;
$sp-sort-img-y: 184px;
$sp-sort-img-offset-x: -404px;
$sp-sort-img-offset-y: -184px;
$sp-sort-img-width: 28px;
$sp-sort-img-height: 28px;
$sp-sort-img-total-width: 432px;
$sp-sort-img-total-height: 392px;
$sp-sort-img-image: '../img/sprites/sprite.png';
$sp-sort-img: (404px, 184px, -404px, -184px, 28px, 28px, 432px, 392px, '../img/sprites/sprite.png', 'sp-sort_img', );
$sp-sort-img-2x-name: 'sp-sort_img@2x';
$sp-sort-img-2x-x: 60px;
$sp-sort-img-2x-y: 298px;
$sp-sort-img-2x-offset-x: -60px;
$sp-sort-img-2x-offset-y: -298px;
$sp-sort-img-2x-width: 56px;
$sp-sort-img-2x-height: 56px;
$sp-sort-img-2x-total-width: 432px;
$sp-sort-img-2x-total-height: 392px;
$sp-sort-img-2x-image: '../img/sprites/sprite.png';
$sp-sort-img-2x: (60px, 298px, -60px, -298px, 56px, 56px, 432px, 392px, '../img/sprites/sprite.png', 'sp-sort_img@2x', );
$sp-sort-info-name: 'sp-sort_info';
$sp-sort-info-x: 240px;
$sp-sort-info-y: 124px;
$sp-sort-info-offset-x: -240px;
$sp-sort-info-offset-y: -124px;
$sp-sort-info-width: 28px;
$sp-sort-info-height: 28px;
$sp-sort-info-total-width: 432px;
$sp-sort-info-total-height: 392px;
$sp-sort-info-image: '../img/sprites/sprite.png';
$sp-sort-info: (240px, 124px, -240px, -124px, 28px, 28px, 432px, 392px, '../img/sprites/sprite.png', 'sp-sort_info', );
$sp-sort-info-2x-name: 'sp-sort_info@2x';
$sp-sort-info-2x-x: 120px;
$sp-sort-info-2x-y: 298px;
$sp-sort-info-2x-offset-x: -120px;
$sp-sort-info-2x-offset-y: -298px;
$sp-sort-info-2x-width: 56px;
$sp-sort-info-2x-height: 56px;
$sp-sort-info-2x-total-width: 432px;
$sp-sort-info-2x-total-height: 392px;
$sp-sort-info-2x-image: '../img/sprites/sprite.png';
$sp-sort-info-2x: (120px, 298px, -120px, -298px, 56px, 56px, 432px, 392px, '../img/sprites/sprite.png', 'sp-sort_info@2x', );
$sp-star-name: 'sp-star';
$sp-star-x: 272px;
$sp-star-y: 234px;
$sp-star-offset-x: -272px;
$sp-star-offset-y: -234px;
$sp-star-width: 88px;
$sp-star-height: 15px;
$sp-star-total-width: 432px;
$sp-star-total-height: 392px;
$sp-star-image: '../img/sprites/sprite.png';
$sp-star: (272px, 234px, -272px, -234px, 88px, 15px, 432px, 392px, '../img/sprites/sprite.png', 'sp-star', );
$sp-star-2x-name: 'sp-star@2x';
$sp-star-2x-x: 0px;
$sp-star-2x-y: 264px;
$sp-star-2x-offset-x: 0px;
$sp-star-2x-offset-y: -264px;
$sp-star-2x-width: 176px;
$sp-star-2x-height: 30px;
$sp-star-2x-total-width: 432px;
$sp-star-2x-total-height: 392px;
$sp-star-2x-image: '../img/sprites/sprite.png';
$sp-star-2x: (0px, 264px, 0px, -264px, 176px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-star@2x', );
$sp-star-on-name: 'sp-star_on';
$sp-star-on-x: 164px;
$sp-star-on-y: 233px;
$sp-star-on-offset-x: -164px;
$sp-star-on-offset-y: -233px;
$sp-star-on-width: 88px;
$sp-star-on-height: 15px;
$sp-star-on-total-width: 432px;
$sp-star-on-total-height: 392px;
$sp-star-on-image: '../img/sprites/sprite.png';
$sp-star-on: (164px, 233px, -164px, -233px, 88px, 15px, 432px, 392px, '../img/sprites/sprite.png', 'sp-star_on', );
$sp-star-on-2x-name: 'sp-star_on@2x';
$sp-star-on-2x-x: 180px;
$sp-star-on-2x-y: 264px;
$sp-star-on-2x-offset-x: -180px;
$sp-star-on-2x-offset-y: -264px;
$sp-star-on-2x-width: 176px;
$sp-star-on-2x-height: 30px;
$sp-star-on-2x-total-width: 432px;
$sp-star-on-2x-total-height: 392px;
$sp-star-on-2x-image: '../img/sprites/sprite.png';
$sp-star-on-2x: (180px, 264px, -180px, -264px, 176px, 30px, 432px, 392px, '../img/sprites/sprite.png', 'sp-star_on@2x', );
$spritesheet-width: 432px;
$spritesheet-height: 392px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($sp-account, $sp-account-2x, $sp-cart, $sp-cart-2x, $sp-cunit-keep, $sp-cunit-keep-2x, $sp-cunit-keep-on, $sp-cunit-keep-on-2x, $sp-ico-camera, $sp-ico-camera-2x, $sp-ico-friends, $sp-ico-friends-2x, $sp-ico-friendship, $sp-ico-friendship-2x, $sp-ico-heart, $sp-ico-heart-2x, $sp-ico-point, $sp-ico-point-2x, $sp-ico-post, $sp-ico-post-2x, $sp-ico-purchase, $sp-ico-purchase-2x, $sp-ico-sale, $sp-ico-sale-2x, $sp-keep, $sp-keep2, $sp-keep2-2x, $sp-keep-2x, $sp-logo, $sp-logo-2x, $sp-logo-apple, $sp-logo-apple-2x, $sp-logo-fb, $sp-logo-fb-2x, $sp-logo-google, $sp-logo-google-2x, $sp-logo-kakao, $sp-logo-kakao-2x, $sp-logo-mail, $sp-logo-mail-2x, $sp-logo-naver, $sp-logo-naver-2x, $sp-sort-img, $sp-sort-img-2x, $sp-sort-info, $sp-sort-info-2x, $sp-star, $sp-star-2x, $sp-star-on, $sp-star-on-2x, );
$spritesheet: (432px, 392px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
