// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-account-name: 'sp-account';
$sp-account-x: 225px;
$sp-account-y: 221px;
$sp-account-offset-x: -225px;
$sp-account-offset-y: -221px;
$sp-account-width: 15px;
$sp-account-height: 15px;
$sp-account-total-width: 268px;
$sp-account-total-height: 249px;
$sp-account-image: '../img/sprites/sprite.png';
$sp-account: (225px, 221px, -225px, -221px, 15px, 15px, 268px, 249px, '../img/sprites/sprite.png', 'sp-account', );
$sp-account-2x-name: 'sp-account@2x';
$sp-account-2x-x: 218px;
$sp-account-2x-y: 74px;
$sp-account-2x-offset-x: -218px;
$sp-account-2x-offset-y: -74px;
$sp-account-2x-width: 30px;
$sp-account-2x-height: 30px;
$sp-account-2x-total-width: 268px;
$sp-account-2x-total-height: 249px;
$sp-account-2x-image: '../img/sprites/sprite.png';
$sp-account-2x: (218px, 74px, -218px, -74px, 30px, 30px, 268px, 249px, '../img/sprites/sprite.png', 'sp-account@2x', );
$sp-cart-name: 'sp-cart';
$sp-cart-x: 206px;
$sp-cart-y: 221px;
$sp-cart-offset-x: -206px;
$sp-cart-offset-y: -221px;
$sp-cart-width: 15px;
$sp-cart-height: 15px;
$sp-cart-total-width: 268px;
$sp-cart-total-height: 249px;
$sp-cart-image: '../img/sprites/sprite.png';
$sp-cart: (206px, 221px, -206px, -221px, 15px, 15px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cart', );
$sp-cart-2x-name: 'sp-cart@2x';
$sp-cart-2x-x: 144px;
$sp-cart-2x-y: 173px;
$sp-cart-2x-offset-x: -144px;
$sp-cart-2x-offset-y: -173px;
$sp-cart-2x-width: 30px;
$sp-cart-2x-height: 30px;
$sp-cart-2x-total-width: 268px;
$sp-cart-2x-total-height: 249px;
$sp-cart-2x-image: '../img/sprites/sprite.png';
$sp-cart-2x: (144px, 173px, -144px, -173px, 30px, 30px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cart@2x', );
$sp-cunit-keep-name: 'sp-cunit_keep';
$sp-cunit-keep-x: 184px;
$sp-cunit-keep-y: 221px;
$sp-cunit-keep-offset-x: -184px;
$sp-cunit-keep-offset-y: -221px;
$sp-cunit-keep-width: 18px;
$sp-cunit-keep-height: 17px;
$sp-cunit-keep-total-width: 268px;
$sp-cunit-keep-total-height: 249px;
$sp-cunit-keep-image: '../img/sprites/sprite.png';
$sp-cunit-keep: (184px, 221px, -184px, -221px, 18px, 17px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cunit_keep', );
$sp-cunit-keep-2x-name: 'sp-cunit_keep@2x';
$sp-cunit-keep-2x-x: 178px;
$sp-cunit-keep-2x-y: 74px;
$sp-cunit-keep-2x-offset-x: -178px;
$sp-cunit-keep-2x-offset-y: -74px;
$sp-cunit-keep-2x-width: 36px;
$sp-cunit-keep-2x-height: 34px;
$sp-cunit-keep-2x-total-width: 268px;
$sp-cunit-keep-2x-total-height: 249px;
$sp-cunit-keep-2x-image: '../img/sprites/sprite.png';
$sp-cunit-keep-2x: (178px, 74px, -178px, -74px, 36px, 34px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cunit_keep@2x', );
$sp-cunit-keep-on-name: 'sp-cunit_keep_on';
$sp-cunit-keep-on-x: 162px;
$sp-cunit-keep-on-y: 221px;
$sp-cunit-keep-on-offset-x: -162px;
$sp-cunit-keep-on-offset-y: -221px;
$sp-cunit-keep-on-width: 18px;
$sp-cunit-keep-on-height: 17px;
$sp-cunit-keep-on-total-width: 268px;
$sp-cunit-keep-on-total-height: 249px;
$sp-cunit-keep-on-image: '../img/sprites/sprite.png';
$sp-cunit-keep-on: (162px, 221px, -162px, -221px, 18px, 17px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cunit_keep_on', );
$sp-cunit-keep-on-2x-name: 'sp-cunit_keep_on@2x';
$sp-cunit-keep-on-2x-x: 138px;
$sp-cunit-keep-on-2x-y: 74px;
$sp-cunit-keep-on-2x-offset-x: -138px;
$sp-cunit-keep-on-2x-offset-y: -74px;
$sp-cunit-keep-on-2x-width: 36px;
$sp-cunit-keep-on-2x-height: 34px;
$sp-cunit-keep-on-2x-total-width: 268px;
$sp-cunit-keep-on-2x-total-height: 249px;
$sp-cunit-keep-on-2x-image: '../img/sprites/sprite.png';
$sp-cunit-keep-on-2x: (138px, 74px, -138px, -74px, 36px, 34px, 268px, 249px, '../img/sprites/sprite.png', 'sp-cunit_keep_on@2x', );
$sp-keep-name: 'sp-keep';
$sp-keep-x: 252px;
$sp-keep-y: 74px;
$sp-keep-offset-x: -252px;
$sp-keep-offset-y: -74px;
$sp-keep-width: 15px;
$sp-keep-height: 15px;
$sp-keep-total-width: 268px;
$sp-keep-total-height: 249px;
$sp-keep-image: '../img/sprites/sprite.png';
$sp-keep: (252px, 74px, -252px, -74px, 15px, 15px, 268px, 249px, '../img/sprites/sprite.png', 'sp-keep', );
$sp-keep-2x-name: 'sp-keep@2x';
$sp-keep-2x-x: 178px;
$sp-keep-2x-y: 173px;
$sp-keep-2x-offset-x: -178px;
$sp-keep-2x-offset-y: -173px;
$sp-keep-2x-width: 30px;
$sp-keep-2x-height: 30px;
$sp-keep-2x-total-width: 268px;
$sp-keep-2x-total-height: 249px;
$sp-keep-2x-image: '../img/sprites/sprite.png';
$sp-keep-2x: (178px, 173px, -178px, -173px, 30px, 30px, 268px, 249px, '../img/sprites/sprite.png', 'sp-keep@2x', );
$sp-logo-name: 'sp-logo';
$sp-logo-x: 0px;
$sp-logo-y: 74px;
$sp-logo-offset-x: 0px;
$sp-logo-offset-y: -74px;
$sp-logo-width: 134px;
$sp-logo-height: 35px;
$sp-logo-total-width: 268px;
$sp-logo-total-height: 249px;
$sp-logo-image: '../img/sprites/sprite.png';
$sp-logo: (0px, 74px, 0px, -74px, 134px, 35px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo', );
$sp-logo-2x-name: 'sp-logo@2x';
$sp-logo-2x-x: 0px;
$sp-logo-2x-y: 0px;
$sp-logo-2x-offset-x: 0px;
$sp-logo-2x-offset-y: 0px;
$sp-logo-2x-width: 268px;
$sp-logo-2x-height: 70px;
$sp-logo-2x-total-width: 268px;
$sp-logo-2x-total-height: 249px;
$sp-logo-2x-image: '../img/sprites/sprite.png';
$sp-logo-2x: (0px, 0px, 0px, 0px, 268px, 70px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo@2x', );
$sp-logo-apple-name: 'sp-logo_apple';
$sp-logo-apple-x: 244px;
$sp-logo-apple-y: 173px;
$sp-logo-apple-offset-x: -244px;
$sp-logo-apple-offset-y: -173px;
$sp-logo-apple-width: 22px;
$sp-logo-apple-height: 22px;
$sp-logo-apple-total-width: 268px;
$sp-logo-apple-total-height: 249px;
$sp-logo-apple-image: '../img/sprites/sprite.png';
$sp-logo-apple: (244px, 173px, -244px, -173px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_apple', );
$sp-logo-apple-2x-name: 'sp-logo_apple@2x';
$sp-logo-apple-2x-x: 216px;
$sp-logo-apple-2x-y: 113px;
$sp-logo-apple-2x-offset-x: -216px;
$sp-logo-apple-2x-offset-y: -113px;
$sp-logo-apple-2x-width: 44px;
$sp-logo-apple-2x-height: 44px;
$sp-logo-apple-2x-total-width: 268px;
$sp-logo-apple-2x-total-height: 249px;
$sp-logo-apple-2x-image: '../img/sprites/sprite.png';
$sp-logo-apple-2x: (216px, 113px, -216px, -113px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_apple@2x', );
$sp-logo-fb-name: 'sp-logo_fb';
$sp-logo-fb-x: 58px;
$sp-logo-fb-y: 221px;
$sp-logo-fb-offset-x: -58px;
$sp-logo-fb-offset-y: -221px;
$sp-logo-fb-width: 22px;
$sp-logo-fb-height: 22px;
$sp-logo-fb-total-width: 268px;
$sp-logo-fb-total-height: 249px;
$sp-logo-fb-image: '../img/sprites/sprite.png';
$sp-logo-fb: (58px, 221px, -58px, -221px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_fb', );
$sp-logo-fb-2x-name: 'sp-logo_fb@2x';
$sp-logo-fb-2x-x: 168px;
$sp-logo-fb-2x-y: 113px;
$sp-logo-fb-2x-offset-x: -168px;
$sp-logo-fb-2x-offset-y: -113px;
$sp-logo-fb-2x-width: 44px;
$sp-logo-fb-2x-height: 44px;
$sp-logo-fb-2x-total-width: 268px;
$sp-logo-fb-2x-total-height: 249px;
$sp-logo-fb-2x-image: '../img/sprites/sprite.png';
$sp-logo-fb-2x: (168px, 113px, -168px, -113px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_fb@2x', );
$sp-logo-google-name: 'sp-logo_google';
$sp-logo-google-x: 110px;
$sp-logo-google-y: 221px;
$sp-logo-google-offset-x: -110px;
$sp-logo-google-offset-y: -221px;
$sp-logo-google-width: 22px;
$sp-logo-google-height: 22px;
$sp-logo-google-total-width: 268px;
$sp-logo-google-total-height: 249px;
$sp-logo-google-image: '../img/sprites/sprite.png';
$sp-logo-google: (110px, 221px, -110px, -221px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_google', );
$sp-logo-google-2x-name: 'sp-logo_google@2x';
$sp-logo-google-2x-x: 120px;
$sp-logo-google-2x-y: 113px;
$sp-logo-google-2x-offset-x: -120px;
$sp-logo-google-2x-offset-y: -113px;
$sp-logo-google-2x-width: 44px;
$sp-logo-google-2x-height: 44px;
$sp-logo-google-2x-total-width: 268px;
$sp-logo-google-2x-total-height: 249px;
$sp-logo-google-2x-image: '../img/sprites/sprite.png';
$sp-logo-google-2x: (120px, 113px, -120px, -113px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_google@2x', );
$sp-logo-kakao-name: 'sp-logo_kakao';
$sp-logo-kakao-x: 32px;
$sp-logo-kakao-y: 221px;
$sp-logo-kakao-offset-x: -32px;
$sp-logo-kakao-offset-y: -221px;
$sp-logo-kakao-width: 22px;
$sp-logo-kakao-height: 22px;
$sp-logo-kakao-total-width: 268px;
$sp-logo-kakao-total-height: 249px;
$sp-logo-kakao-image: '../img/sprites/sprite.png';
$sp-logo-kakao: (32px, 221px, -32px, -221px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_kakao', );
$sp-logo-kakao-2x-name: 'sp-logo_kakao@2x';
$sp-logo-kakao-2x-x: 48px;
$sp-logo-kakao-2x-y: 173px;
$sp-logo-kakao-2x-offset-x: -48px;
$sp-logo-kakao-2x-offset-y: -173px;
$sp-logo-kakao-2x-width: 44px;
$sp-logo-kakao-2x-height: 44px;
$sp-logo-kakao-2x-total-width: 268px;
$sp-logo-kakao-2x-total-height: 249px;
$sp-logo-kakao-2x-image: '../img/sprites/sprite.png';
$sp-logo-kakao-2x: (48px, 173px, -48px, -173px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_kakao@2x', );
$sp-logo-mail-name: 'sp-logo_mail';
$sp-logo-mail-x: 84px;
$sp-logo-mail-y: 221px;
$sp-logo-mail-offset-x: -84px;
$sp-logo-mail-offset-y: -221px;
$sp-logo-mail-width: 22px;
$sp-logo-mail-height: 22px;
$sp-logo-mail-total-width: 268px;
$sp-logo-mail-total-height: 249px;
$sp-logo-mail-image: '../img/sprites/sprite.png';
$sp-logo-mail: (84px, 221px, -84px, -221px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_mail', );
$sp-logo-mail-2x-name: 'sp-logo_mail@2x';
$sp-logo-mail-2x-x: 96px;
$sp-logo-mail-2x-y: 173px;
$sp-logo-mail-2x-offset-x: -96px;
$sp-logo-mail-2x-offset-y: -173px;
$sp-logo-mail-2x-width: 44px;
$sp-logo-mail-2x-height: 44px;
$sp-logo-mail-2x-total-width: 268px;
$sp-logo-mail-2x-total-height: 249px;
$sp-logo-mail-2x-image: '../img/sprites/sprite.png';
$sp-logo-mail-2x: (96px, 173px, -96px, -173px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_mail@2x', );
$sp-logo-naver-name: 'sp-logo_naver';
$sp-logo-naver-x: 136px;
$sp-logo-naver-y: 221px;
$sp-logo-naver-offset-x: -136px;
$sp-logo-naver-offset-y: -221px;
$sp-logo-naver-width: 22px;
$sp-logo-naver-height: 22px;
$sp-logo-naver-total-width: 268px;
$sp-logo-naver-total-height: 249px;
$sp-logo-naver-image: '../img/sprites/sprite.png';
$sp-logo-naver: (136px, 221px, -136px, -221px, 22px, 22px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_naver', );
$sp-logo-naver-2x-name: 'sp-logo_naver@2x';
$sp-logo-naver-2x-x: 0px;
$sp-logo-naver-2x-y: 173px;
$sp-logo-naver-2x-offset-x: 0px;
$sp-logo-naver-2x-offset-y: -173px;
$sp-logo-naver-2x-width: 44px;
$sp-logo-naver-2x-height: 44px;
$sp-logo-naver-2x-total-width: 268px;
$sp-logo-naver-2x-total-height: 249px;
$sp-logo-naver-2x-image: '../img/sprites/sprite.png';
$sp-logo-naver-2x: (0px, 173px, 0px, -173px, 44px, 44px, 268px, 249px, '../img/sprites/sprite.png', 'sp-logo_naver@2x', );
$sp-sort-img-name: 'sp-sort_img';
$sp-sort-img-x: 0px;
$sp-sort-img-y: 221px;
$sp-sort-img-offset-x: 0px;
$sp-sort-img-offset-y: -221px;
$sp-sort-img-width: 28px;
$sp-sort-img-height: 28px;
$sp-sort-img-total-width: 268px;
$sp-sort-img-total-height: 249px;
$sp-sort-img-image: '../img/sprites/sprite.png';
$sp-sort-img: (0px, 221px, 0px, -221px, 28px, 28px, 268px, 249px, '../img/sprites/sprite.png', 'sp-sort_img', );
$sp-sort-img-2x-name: 'sp-sort_img@2x';
$sp-sort-img-2x-x: 60px;
$sp-sort-img-2x-y: 113px;
$sp-sort-img-2x-offset-x: -60px;
$sp-sort-img-2x-offset-y: -113px;
$sp-sort-img-2x-width: 56px;
$sp-sort-img-2x-height: 56px;
$sp-sort-img-2x-total-width: 268px;
$sp-sort-img-2x-total-height: 249px;
$sp-sort-img-2x-image: '../img/sprites/sprite.png';
$sp-sort-img-2x: (60px, 113px, -60px, -113px, 56px, 56px, 268px, 249px, '../img/sprites/sprite.png', 'sp-sort_img@2x', );
$sp-sort-info-name: 'sp-sort_info';
$sp-sort-info-x: 212px;
$sp-sort-info-y: 173px;
$sp-sort-info-offset-x: -212px;
$sp-sort-info-offset-y: -173px;
$sp-sort-info-width: 28px;
$sp-sort-info-height: 28px;
$sp-sort-info-total-width: 268px;
$sp-sort-info-total-height: 249px;
$sp-sort-info-image: '../img/sprites/sprite.png';
$sp-sort-info: (212px, 173px, -212px, -173px, 28px, 28px, 268px, 249px, '../img/sprites/sprite.png', 'sp-sort_info', );
$sp-sort-info-2x-name: 'sp-sort_info@2x';
$sp-sort-info-2x-x: 0px;
$sp-sort-info-2x-y: 113px;
$sp-sort-info-2x-offset-x: 0px;
$sp-sort-info-2x-offset-y: -113px;
$sp-sort-info-2x-width: 56px;
$sp-sort-info-2x-height: 56px;
$sp-sort-info-2x-total-width: 268px;
$sp-sort-info-2x-total-height: 249px;
$sp-sort-info-2x-image: '../img/sprites/sprite.png';
$sp-sort-info-2x: (0px, 113px, 0px, -113px, 56px, 56px, 268px, 249px, '../img/sprites/sprite.png', 'sp-sort_info@2x', );
$spritesheet-width: 268px;
$spritesheet-height: 249px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($sp-account, $sp-account-2x, $sp-cart, $sp-cart-2x, $sp-cunit-keep, $sp-cunit-keep-2x, $sp-cunit-keep-on, $sp-cunit-keep-on-2x, $sp-keep, $sp-keep-2x, $sp-logo, $sp-logo-2x, $sp-logo-apple, $sp-logo-apple-2x, $sp-logo-fb, $sp-logo-fb-2x, $sp-logo-google, $sp-logo-google-2x, $sp-logo-kakao, $sp-logo-kakao-2x, $sp-logo-mail, $sp-logo-mail-2x, $sp-logo-naver, $sp-logo-naver-2x, $sp-sort-img, $sp-sort-img-2x, $sp-sort-info, $sp-sort-info-2x, );
$spritesheet: (268px, 249px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
