@charset "utf-8";

$white_color: #fff;
$primary_color: #2f332f;
$point_color1: #3b574f;
$point_color2: #a9372c;
$point_color3: #c5a76a;

$desktop-width: "screen and (min-width : 1024px)";
$tablet-width: "screen and (max-width : 1023px)";
$mobile-width: "screen and (max-width : 768px) ";
