@charset "utf-8";

@import "common/variables";
@import "common/mixins";
@import "common/sprite";

/* _sub_page.scss */
.songe_certify_top {
	text-align: center;
	.songe_certify_ico {
		display: inline-block;
		width: 150px;
		img {
			width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}
	.songe_certify_tit {
		margin-top: 20px;
		font-family: "S-CoreDream-4Regular", sans-serif;
		font-size: 19px;
		color: $point_color1;
	}
}
.songe_certify_bx {
	margin: 50px auto 0;
	.songe_certify_lst {
		li {
			margin-top: 20px;
		}
		a {
			position: relative;
			display: block;
			padding: 14px 20px 14px 50px;
			border: 1px solid $grey_color3;
			font-size: 0;
			line-height: 22px;
			color: $primary_color;
			strong {
				display: inline-block;
				margin-right: 10px;
				vertical-align: top;
				font-family: "S-CoreDream-5Medium";
				font-size: 15px;
				color: $primary_color;
			}
			span {
				display: inline-block;
				font-size: 13px;
				vertical-align: top;
			}
			.logo {
				position: absolute;
				top: 14px;
				left: 20px;
				width: 22px;
				height: 22px;
				&.logo_mail {
					@include sprite($sp-logo_mail);
				}
				&.logo_facebook {
					@include sprite($sp-logo_fb);
				}
				&.logo_google {
					@include sprite($sp-logo_google);
				}
				&.logo_naver {
					@include sprite($sp-logo_naver);
				}
				&.logo_apple {
					@include sprite($sp-logo_apple);
				}
			}
		}
	}
}

.songe_result_top {
	text-align: center;
	.songe_result_ico {
		display: inline-block;
		width: 150px;
		transform-origin: 50% 100%;
		animation: jump 1s linear alternate 3;
		img {
			width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}
	.songe_result_tit {
		margin-top: 20px;
		color: $point_color1;
		font-weight: normal;
		font-family: "S-CoreDream-5Medium", sans-serif;
		font-size: 24px;
		word-break: keep-all;
	}
}
.songe_result_bx {
	margin-top: 20px;
	p {
		font-size: 15px;
		line-height: 1.5;
		text-align: center;
		word-break: keep-all;
	}
}

.join_certify {
	max-width: 650px;
	margin: 50px auto;
}

.join_terms {
	max-width: 650px;
	margin: 50px auto;
	.songe_terms_top {
		.songe_chk {
			label {
				font-size: 14px;
			}
		}
	}
	.songe_terms_bx {
		margin-top: 30px;
		.songe_terms_lst {
			li {
				margin-top: 20px;
				&:first-child {
					margin-top: 0;
				}
			}
			.songe_scroll_bx {
				position: relative;
				overflow: auto;
				height: 150px;
				margin-top: 8px;
				padding: 12px;
				border: 1px solid $grey_color3;
				background: $white_color;
				color: #777;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				scrollbar-3dlight-color: #bcbcbc;
				scrollbar-arrow-color: #bcbcbc;
				scrollbar-base-color: #bcbcbc;
				scrollbar-face-color: #bcbcbc;
				scrollbar-track-color: $white_color;
				scrollbar-darkshadow-color: #bcbcbc;
				scrollbar-highlight-color: #bcbcbc;
				scrollbar-shadow-color: #bcbcbc;
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 8px;
					background-color: rgba(34, 34, 34, 0.3);
				}
				.songe_article_tit {
					padding-bottom: 5px;
					font-size: 13px;
					line-height: 17px;
				}
				.songe_article_txt {
					padding-bottom: 10px;
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}

.join_signup {
	max-width: 650px;
	margin: 50px auto;
}

.join_result {
	max-width: 650px;
	margin: 50px auto;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20%);
	}
	100% {
		transform: translateY(0);
	}
}

.join_modify {
	max-width: 650px;
	margin: 50px auto;
}

.login_signin {
	max-width: 650px;
	margin: 50px auto;
	.songe_login_chk {
		margin-top: 20px;
	}
	.songe_login_guide {
		margin-top: 30px;
		text-align: center;
		.songe_guide_link {
			display: inline-block;
			margin: 0 5px;
			border-bottom: 1px solid $point_color1;
			font-size: 13px;
			color: $point_color1;
		}
	}
	.songe_signin_bx {
		margin-top: 50px;
		.songe_signin_lst {
			display: table;
			width: 100%;
			table-layout: fixed;
			li {
				position: relative;
				display: table-cell;
				text-align: center;
				&:before {
					position: absolute;
					top: 10%;
					left: 0;
					width: 1px;
					height: 80%;
					background: $grey_color3;
					content: "";
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 5px 0;
				font-size: 11px;
				line-height: 18px;
				color: $primary_color;
				word-break: keep-all;
				strong {
					display: block;
					margin-top: 5px;
					font-size: 13px;
					letter-spacing: 1.5px;
				}
				span {
					display: block;
				}
				.logo {
					display: inline-block;
					vertical-align: top;
					&.logo_mail {
						@include sprite($sp-logo_mail);
					}
					&.logo_facebook {
						@include sprite($sp-logo_fb);
					}
					&.logo_google {
						@include sprite($sp-logo_google);
					}
					&.logo_naver {
						@include sprite($sp-logo_naver);
					}
					&.logo_apple {
						@include sprite($sp-logo_apple);
					}
				}
			}
		}
	}
}

.login_findid {
	max-width: 650px;
	margin: 50px auto;
}

.login_findpw {
	max-width: 650px;
	margin: 50px auto;
}

.login_result {
	max-width: 650px;
	margin: 50px auto;
	.songe_result_bx {
		width: 400px;
		margin: 20px auto;
	}
}

.login_modifypw {
	max-width: 650px;
	margin: 50px auto;
}
.mypage_main {
	margin: 0 auto;
	.songe_usr_bx {
		position: relative;
		padding: 50px 100px 50px 20px;
		border-bottom: 1px solid $grey_color3;
		.songe_usr_info {
			position: relative;
			padding-left: 120px;
			.songe_usr_img {
				overflow: hidden;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100px;
				height: 100px;
				background-color: rgba(0, 0, 0, 0.03);
				border-radius: 10px;
				vertical-align: top;
				img {
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					transform: translateY(-50%);
				}
			}
			.songe_usr_name {
				font-family: "S-CoreDream-5Medium";
				font-weight: normal;
				font-size: 24px;
				span {
					position: relative;
					display: inline-block;
					z-index: 1;
					&:before {
						position: absolute;
						bottom: -5px;
						left: 0;
						right: -3px;
						height: 17px;
						background-color: $point_color3;
						opacity: 0.3;
						z-index: -1;
						content: "";
					}
				}
			}
			.songe_usr_id {
				margin-top: 15px;
			}
			.songe_usr_btn {
				display: inline-block;
				margin-top: 15px;
				padding: 7px 13px;
				background: $point_color1;
				border-radius: 5px;
				color: $white_color;
				font-size: 13px;
				line-height: 1;
				vertical-align: middle;
			}
		}
		.songe_point_info {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 80px;
			text-align: center;
			.songe_point_tit {
				font-family: "S-CoreDream-5Medium";
				font-weight: normal;
				font-size: 16px;
			}
			.songe_point_num {
				display: block;
				margin-top: 10px;
				font-size: 14px;
				em {
					font-family: "S-CoreDream-5Medium";
					font-size: 21px;
				}
			}
		}
	}
	.songe_history_bx {
		display: flex;
		justify-content: space-around;
		padding: 20px;
		border-bottom: 1px solid $grey_color3;
		font-size: 0;
		text-align: center;
		.songe_history_btn {
			position: relative;
			display: inline-block;
			min-width: 90px;
			padding: 90px 0 20px;
			span {
				font-size: 14px;
			}
			&:before {
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				content: "";
			}
			&.btn_sale {
				&:before {
					@include sprite($sp-ico_sale);
				}
			}
			&.btn_purchase {
				&:before {
					@include sprite($sp-ico_purchase);
				}
			}
			&.btn_friends {
				&:before {
					@include sprite($sp-ico_friends);
				}
			}
		}
	}
}
@include small-mobile-media {
	.mypage_main {
		.songe_usr_bx {
			padding: 20px 0;
			.songe_usr_info {
				position: relative;
				padding-left: 60px;
				.songe_usr_img {
					width: 50px;
					height: 50px;
					border-radius: 5px;
				}
				.songe_usr_name {
					font-size: 21px;
					span {
						&:before {
							height: 15px;
						}
					}
				}
				.songe_usr_id {
					margin-top: 10px;
				}
				.songe_usr_btn {
					font-size: 12px;
				}
			}
			.songe_point_info {
				position: relative;
				display: block;
				width: 100%;
				top: auto;
				right: auto;
				transform: initial;
				margin-top: 20px;
				padding: 20px 10px 0;
				box-sizing: border-box;
				border-top: 1px solid $grey_color3;
				text-align: left;
				.songe_point_tit {
					display: inline-block;
					margin-right: 10px;
					font-size: 16px;
					vertical-align: middle;
				}
				.songe_point_num {
					display: inline-block;
					margin: 0;
					font-size: 12px;
					vertical-align: middle;
				}
			}
		}
	}
}
.songe_recent_bx {
	padding: 30px 0;
	.songe_recent_tit {
		margin-bottom: 10px;
		font-family: "S-CoreDream-4Regular", sans-serif;
		font-size: 16px;
		line-height: 25px;
	}
}
