// Common
@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin ellipsis($width: 100%) {
	display: block;
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin breakword() {
	word-wrap: break-word;
	word-break: break-all;
}

@mixin media($queryPoint) {
	@media #{ $queryPoint } {
		@content;
	}
}

// Mobile Sprites
@mixin retina-only-sprite($retina-group) {
	$normal-sprite: nth($retina-group, 2);
	$retina-sprite: nth($retina-group, 3);
	@include sprite-image($retina-sprite);
	@include sprite-position($normal-sprite);
	@include sprite-background-size($normal-sprite);
	@include sprite-width($normal-sprite);
	@include sprite-height($normal-sprite);
}

@mixin retina-only-sprites($retina-groups) {
	@each $retina-group in $retina-groups {
		$sprite-name: nth($retina-group, 1);
		.#{$sprite-name} {
			@include retina-only-sprite($retina-group);
		}
	}
}
