@import "songe.scss";

/* page style */
.songe_certify_top {
	text-align: center;
	.songe_certify_ico {
		display: inline-block;
		width: 150px;
		img {
			width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}
	.songe_certify_tit {
		margin-top: 20px;
		font-family: "S-CoreDream-4Regular", sans-serif;
		font-size: 19px;
		color: $point_color1;
	}
}
.songe_certify_bx {
	margin: 50px auto 0;
	.songe_certify_lst {
		li {
			margin-top: 20px;
		}
		a {
			position: relative;
			display: block;
			padding: 14px 20px 14px 50px;
			border: 1px solid #e0e0e0;
			font-size: 0;
			line-height: 22px;
			color: $primary_color;
			strong {
				display: inline-block;
				margin-right: 10px;
				vertical-align: top;
				font-family: "S-CoreDream-5Medium";
				font-size: 15px;
				color: $primary_color;
			}
			span {
				display: inline-block;
				font-size: 13px;
				vertical-align: top;
			}
			.logo {
				position: absolute;
				top: 14px;
				left: 20px;
				width: 22px;
				height: 22px;
			}
		}
	}
}

.songe_result_top {
	text-align: center;
	.songe_result_ico {
		display: inline-block;
		width: 150px;
		transform-origin: 50% 100%;
		animation: jump 1s linear alternate 3;
		img {
			width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}
	.songe_result_tit {
		margin-top: 20px;
		color: $point_color1;
		font-weight: normal;
		font-family: "S-CoreDream-5Medium", sans-serif;
		font-size: 24px;
		word-break: keep-all;
	}
}
.songe_result_bx {
	margin-top: 20px;
	p {
		font-size: 15px;
		line-height: 1.5;
		text-align: center;
		word-break: keep-all;
	}
}

.join_certify {
	max-width: 650px;
	margin: 50px auto;
}

.join_terms {
	max-width: 650px;
	margin: 50px auto;
	.songe_terms_top {
		.songe_chk {
			label {
				font-size: 14px;
			}
		}
	}
	.songe_terms_bx {
		margin-top: 30px;
		.songe_terms_lst {
			li {
				margin-top: 20px;
				&:first-child {
					margin-top: 0;
				}
			}
			.songe_scroll_bx {
				position: relative;
				overflow: auto;
				height: 150px;
				margin-top: 8px;
				padding: 12px;
				border: 1px solid #e0e0e0;
				background: $white_color;
				color: #777;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				scrollbar-3dlight-color: #bcbcbc;
				scrollbar-arrow-color: #bcbcbc;
				scrollbar-base-color: #bcbcbc;
				scrollbar-face-color: #bcbcbc;
				scrollbar-track-color: $white_color;
				scrollbar-darkshadow-color: #bcbcbc;
				scrollbar-highlight-color: #bcbcbc;
				scrollbar-shadow-color: #bcbcbc;
				&::-webkit-scrollbar {
					width: 5px;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 8px;
					background-color: rgba(34, 34, 34, 0.3);
				}
				.songe_article_tit {
					padding-bottom: 5px;
					font-size: 13px;
					line-height: 17px;
				}
				.songe_article_txt {
					padding-bottom: 10px;
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
	}
}

.join_signup {
	max-width: 650px;
	margin: 50px auto;
}

.join_result {
	max-width: 650px;
	margin: 50px auto;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20%);
	}
	100% {
		transform: translateY(0);
	}
}

.join_modify {
	max-width: 650px;
	margin: 50px auto;
}

.login_signin {
	max-width: 650px;
	margin: 50px auto;
	.songe_login_chk {
		margin-top: 20px;
	}
	.songe_login_guide {
		margin-top: 30px;
		text-align: center;
		.songe_guide_link {
			display: inline-block;
			margin: 0 5px;
			border-bottom: 1px solid $point_color1;
			font-size: 13px;
			color: $point_color1;
		}
	}
	.songe_signin_bx {
		margin-top: 50px;
		.songe_signin_lst {
			display: table;
			width: 100%;
			table-layout: fixed;
			li {
				position: relative;
				display: table-cell;
				text-align: center;
				&:before {
					position: absolute;
					top: 10%;
					left: 0;
					width: 1px;
					height: 80%;
					background: #e0e0e0;
					content: "";
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 5px 0;
				font-size: 11px;
				line-height: 18px;
				color: $primary_color;
				word-break: keep-all;
				strong {
					display: block;
					margin-top: 5px;
					font-size: 13px;
					letter-spacing: 1.5px;
				}
				span {
					display: block;
				}
				.logo {
					display: inline-block;
					width: 22px;
					height: 22px;
					vertical-align: top;
				}
			}
		}
	}
}

.login_findid {
	max-width: 650px;
	margin: 50px auto;
}

.login_findpw {
	max-width: 650px;
	margin: 50px auto;
}

.login_result {
	max-width: 650px;
	margin: 50px auto;
	.songe_result_bx {
		width: 400px;
		margin: 20px auto;
	}
}

.login_modifypw {
	max-width: 650px;
	margin: 50px auto;
}
